---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.language-switcher__options {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	white-space: nowrap;
}

.greedy-nav .language-switcher__options a {
	display: inline-block;
	margin: 0;
}
